<!doctype html>
<head>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
  <title>{{ctx.info.siteName}}</title>
  <link rel=icon href="/assets/v.png" type=image/png />
  <script src="https://special.mogulinker.com/test/moguv-common-script/jquery.min.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/ht/authorization/FZ6XpvbKBXIP.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/ht/authorization/edge/httSGS3APJMm.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/ht/authorization/edge/product_generated.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/ht/core/ht.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/ht/plugin.min.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/handlebars.min.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/ht/authorization/gIz4iK1xrvph/buckle.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/echarts_5_3_1.min.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/signals.min.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/dayjs-1.11.7.js"></script>
		<script src="https://special.mogulinker.com/test/moguv-common-script/lodash-4.17.21.js"></script>

  ${styleTags}
</head>
<style>
*{
  margin: 0;
  padding: 0;
}
</style>
<body>
${ctx.info.injectScript || ''}
<div id="app">${content}</div>
${initStateContent}
${scriptTags}

</body>
</html>
